<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | Starter</title>

  <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <link href="~/lib/devextreme/css/dx.material.optiestWeb2.css" rel="stylesheet">

  @* Uncomment to use the HtmlEditor control *@
  @* <script src="https://unpkg.com/devextreme-quill@21_2/dist/dx-quill.min.js"></script> *@

  <link rel="stylesheet" href="~/css/vendor.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/Site2.css" />
  <script src="~/js/vendor.js" asp-append-version="true"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.10.1/polyfill.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/3.8.0/exceljs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>

  <partial name="_Styles" />
</head>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">

    <partial name="_TopNavigation" />

    <partial name="_MainNavigation" />

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="background-color: white;">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">Środki trwałe</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Starter Page</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <div class="content">
        <div class="container-fluid">
          @RenderBody()
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
      <div class="p-3">
        <h5>Title</h5>
        <p>Sidebar content</p>
      </div>
    </aside>
    <!-- /.control-sidebar -->

    <partial name="_Footer" />
  </div>
  <!-- ./wrapper -->

  <partial name="_Scripts" />
</body>

</html>
