<style>
  details[open] summary ~ * {
  animation: collapsing 0.5s ease-in-out;
}

@@keyframes collapsing {
  0%    { opacity: 0; font-size: 0; }
  50%   { opacity: 0; font-size: 1em; margin-left: -10px; }
  100%  { opacity: 1; margin-left: 0px; }
}
</style>

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="index3.html" class="brand-link">
    <img src="~/img/AdminLTELogo.png" alt="Example side Logo" class="brand-image img-circle elevation-3"
      style="opacity: .8">
    <span class="brand-text font-weight-light">ExampleSite</span>
  </a>

  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="~/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <details style="color: white;">
          <summary>
            <a href="#">Testowy Pracownik</a>
          </summary>
          <p style="margin-top: 10px; margin-bottom: 0; text-align: center;">
            <a href="#"><i class="fas fa-sign-out-alt"></i>
              Wyloguj</a>
          </p>
        </details>
      </div>
    </div>

    <!-- SidebarSearch Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Szukaj..." aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        <li class="nav-item menu-open">
          <a href="#" class="nav-link active">
            <i class="nav-icon fas fa-tags"></i>
            <p>
              Obiekty
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a asp-controller="Home" asp-action="Index" class="nav-link active">
                <i class="far fa-circle nav-icon"></i>
                <p>Środki trwałe</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Składniki</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Wyposażenie</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Obiekty majątkowe</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a asp-controller="Home" asp-action="Privacy" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Privacy
              <span class="right badge badge-danger">New</span>
            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>